*{ margin:0; padding:0; line-height:100%;}
ul li, ol li{ list-style:none;}
a{ text-decoration:none;font-family:'微软雅黑'};
b,strong,h2,h3,h4,h5,h6{ font-weight:normal;}
em,i{ font-style:normal;}
img{ vertical-align:top; border:none 0;}


/*清除浮动的方法*/
.clearfix:after{ content:''; display:block; clear:both;}
.clearfix{ zoom:1;}





